@use "@/styles/Variables.scss";

.wrapper {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
  font-display: swap;
  font-style: medium;
  overflow: hidden;
}

.scrollArea {
  height: 50%;
}

.weekGrid {
  grid-row: 2;
  height: min-content;
}

.weekInner {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.time {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dateGrid {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.pagenation {
  display: flex;
  font-weight: 600;
  width: auto;
  min-width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;

  &:hover {
    background-color: darkgray;
  }
}

.button {
  @extend .pagenation;
  outline: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
}

.weekHeader {
  grid-row: 1;
  display: flex;
  margin: auto;
}

.dayText {
  font-size: large;
  font-weight: 500;
}

.dayNumber {
  font-size: x-large;
  font-weight: 600;
}

.dateContainer {
  height: 75px;
  display: flex;
  border-bottom: #DADCE0 1px solid;

  &.today {
    background-color: rgba(194, 194, 194, 0.1);
  }
}

.halfHeightBorder {
  height: 50%;
  border-right: #DADCE0 1px solid;
  align-self: flex-end;
}

.date {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.next {
  background-color: blue;
}

.previous {
  background-color: red;
}

.eventCard {
  grid-column: 2;
}

.eventList {
  height: 100%;
  border-left: #DADCE0 1px solid;
}