@use "@/styles/Variables.scss";

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  font-display: swap;
  font-style: medium;
}

.tools {
  grid-row: 1;
  display: flex;
}

.weekGrid {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.pagenation {
  display: flex;
  font-weight: 600;
  width: auto;
  min-width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;

  &:hover {
    background-color: darkgray;
  }
}

.button {
  @extend .pagenation;
  outline: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
}

.weekHeader {
  grid-row: 1;
  display: flex;
  margin: auto;
}

.weekTile {
  border: Variables.$gridColor 1px solid;

  &.today {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.dayHeading {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.next {
  background-color: blue;
}

.previous {
  background-color: red;
}

.eventCard {
  grid-column: 2;
}