@import 'style/Colors';

.main {
    box-sizing: border-box;
    .h2{
            color: $textGray;
    }
}


.backgroundFade {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(247, 250, 255) 100%);
    height: auto;
    width: 100%;
    position: relative;
    display: block;
}

.titleContainer {
    padding-top: 4rem;
    padding-bottom: 8rem;
    display: block;
    margin: 0px auto;
}

.margin {
    margin: 0px auto;
    max-width: 1236px;
    padding: 4rem 1rem 4rem 1rem;
}

.title {
    line-height: "72px";
    font-style: normal;
    font-display: swap;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.titleImage{
    @media (min-width: 0px){
        display: none;
    }

    @media (min-width:600px){
        display: block;
    }

    transform: rotate(-20deg);
}

.titleBoxThing{
    display: flex;
    width: 50rem;
    height: 701px;
    left:50%;
    top:0%;
    position: absolute;
    transform: translate3d(20%, -50%, 0px);

    background-size: 60px 100px;
    background-image:
      linear-gradient(to right, #c6c6c6 1px, transparent 1px),
      linear-gradient(to bottom, #c6c6c6 1px, transparent 1px);

    overflow: hidden;

    @for $i from 1 through 5 {
        > :nth-child(#{$i}) {
          transform: translateY($i * 100px);
        }
      }
}

.titleBoxThingContents{
    display: flex;
    width: 100%;
    height:100%;
}

.titles {
    max-width: 100%;
   
    @media (min-width: 0px) {
        max-width: 100%;
    }

    @media (min-width: 600px) {
        max-width: 50%;
    }
    
    h2{
        margin-bottom: 21px;
        line-height: 1.2;
        font-size: 2.375rem;

        @media (min-width: 600px) {
            font-size: 3.125rem;
        }
    
        @media (min-width: 900px) {
            font-size: 3.333rem;
        }

        @media (min-width: 1200px) {
            font-size: 3.75rem;
        }
    }
}

.pSubText{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(103, 119, 136);
}

.svgIconContainer{
    background-color: rgba(55, 125, 255, 0.1);
    color:rgb(55, 125, 255);
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.titleDescription {
    @extend .pSubText;
    padding-top: 16px;
    padding-bottom: 16px;
}

.svgBlocker {
    box-sizing: inherit;
    width: 100%;
    // margin-bottom: -8px;
    overflow: hidden;
}

.successText {
    color: rgb(55, 125, 255);
    background: linear-gradient(transparent 82%, rgba(249, 185, 52, 0.3) 0%);
}

.iconSubText{
    color: #677788;
}

.middle{
    max-width: 600px;
}

.flexItem{
    max-width: 50%;
}

.descirptionsIconsGrid{
    flex-flow: wrap;
    width: calc(100%);
}

.buttonsContainer{
    @media (min-width: 0px) {
        flex-direction: column;
    }

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.image{
    
    @media (min-width: 0px) {
        display: none;
    }

    @media (min-width: 900px) {
        display: inline-block;
    }
}

.imageShadow{
    box-shadow: rgba(140, 152, 164, 0.176) 0px 10px 40px 10px;
    background-color: rgba(55, 125, 255, 0.1);
    border: #E1E7EF 1px solid;
}

.imageDescription{
    @media (min-width: 0px) {
        flex-basis: 100%;
    }

    @media (min-width: 900px) {
        flex-basis: 50%;
    }
}

.statContainer{
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -1rem;
    width: calc(100% + 16px);
    margin-left: -1rem;
}

.statItem{
    color: rgb(103, 119, 136);
    padding-left: 1rem;
    padding-top: 1rem;
    @media (min-width: 0px) {
        flex-basis: 100%;
        max-width: 100%;
        flex-grow: 0;
    }

    @media (min-width: 900px) {
        flex-basis: 33.33%;
        max-width: 33.33%;
        flex-grow: 0;
    }
}

.statHeader{
    font-size: 28px;
    font-weight: 400;
    color:rgb(55, 125, 255)
}

.boxItem{
    @media (min-width: 600px) {
        flex-basis: 50%;
        max-width: 50%;
        flex-grow: 0;
    }

    @media (min-width: 900px) {
        flex-basis: 30%;
        max-width: 30%;
        flex-grow: 0;
    }
}

.boxContainer{
    display: flex;
    flex-flow: wrap;
    width: calc(100%);
    gap:32px;
}

.boxInnerItem{
    background-color: white;
    box-shadow: rgba(140, 152, 164, 0.25) 0px 3px 6px 0px;
}

.boxDescription{
    color:rgb(103, 119, 136);
}

.lower{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(247, 250, 255) 100%);
}

.footerButton{
    @media (max-width: 900px) {
        width: 100%;
    }
}

.eventsBoxThing{
    background-size: 200px 100px;
    background-image:
      linear-gradient(to right, #c6c6c6 1px, transparent 1px),
      linear-gradient(to bottom, #c6c6c6 1px, transparent 1px);

    overflow: hidden;
}

.chatImage{
    width: 100%;
    height: auto;
}