@import 'style/Colors';

.main {
    box-sizing: border-box;
    .h2{
            color: $textGray;
    }
}


.backgroundFade {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(247, 250, 255) 100%);
    height: auto;
    width: 100%;
    position: relative;
    display: block;
}

.titleContainer {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: block;
    margin: 0px auto;
}

.margin {
    margin: 0px auto;
    max-width: 1236px;
    padding: 4rem 1rem 4rem 1rem;
}

.title {
    line-height: "72px";
    font-style: normal;
    font-display: swap;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.titles {
    max-width: 100%;

    @media (min-width: 600px) {
        max-width: 50%;
    }
}

.pSubText{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(103, 119, 136);
}

.svgIconContainer{
    background-color: rgba(55, 125, 255, 0.1);
    color:rgb(55, 125, 255);
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.titleDescription {
    @extend .pSubText;
    padding-top: 16px;
    padding-bottom: 16px;
}

.svgBlocker {
    box-sizing: inherit;
    width: 100%;
    // margin-bottom: -8px;
    overflow: hidden;
}

.successText {
    color: rgb(55, 125, 255);
    background: linear-gradient(transparent 82%, rgba(249, 185, 52, 0.3) 0%);
}

.iconSubText{
    color: #677788;
}

.middle{
    max-width: 600px;
}

.flexItem{
    max-width: 50%;
}