.main {
    box-sizing: border-box;
}


.backgroundFade {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(247, 250, 255) 100%);
    height: auto;
    width: 100%;
    position: relative;
    display: block;
}

.titleContainer {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: block;
    margin: 0px auto;
}

.titleContent {
    margin: 0px auto;
    max-width: 1236px;
}

.title {
    line-height: "72px";
    font-style: normal;
    font-display: swap;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.titles {
    max-width: 100%;

    @media (min-width: 600px) {
        max-width: 50%;
    }
}

.titleDescription {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(103, 119, 136);

}

.svgBlocker {
    box-sizing: inherit;
    width: 100%;
    overflow: hidden;
}

.successText {
    color: rgb(55, 125, 255);
    background: linear-gradient(transparent 82%, rgba(249, 185, 52, 0.3) 0%);
}