.wrapper {
  width: 500px;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.calendarHeader {
  flex: 1 1 auto;
  font-weight: 600;
  color: rgb(17 24 39);
}

.chevronButton {
  background: none;
  border: none;
  margin-top: -0.375rem;
  margin-bottom: -0.375rem;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  padding: 0.375rem;
  color: rgb(156 163 175);
  :hover {
    color: rgb(107 114 128);
  }
  &.chevronRight {
    margin-right: -0.375rem;
    margin-left: 0.5rem;
  }
}

.chevronIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.dayNameGrid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  margin-top: 2.5rem;
  font-size: 0.75rem; /* 12px */
  line-height: 1.5rem; /* 24px */
  text-align: center;
  color: rgb(107 114 128);
}

.datesGrid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  margin-top: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.gridDateItem {
  border-top-width: 1px;
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  button {
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  .dateItemTextWhite {
    color: white;
  }

  .dateItemIndigo {
    color: rgb(79 70 229);
  }

  .dateItemGray {
    color: rgb(17 24 39);
  }

  .dateItemLightGray {
    color: rgb(156 163 175);
  }

  .backgroundIndigo {
    background-color: rgb(79 70 229);
  }

  .backgroundGray {
    background-color: rgb(17 24 39);
  }

  .hoverItem {
    background: none;
    &:hover {
      background: fixed;
      background-color: rgb(229 231 235);
    }
  }

  .fontSemi {
    font-weight: 600;
  }

  .other {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
  }

  .hasEvents {
    background: fixed;
    background-color: green;
  }
}

.colStartOne {
  grid-column-start: 1;
}
.colStartTwo {
  grid-column-start: 2;
}
.colStartThree {
  grid-column-start: 3;
}
.colStartFour {
  grid-column-start: 4;
}
.colStartFive {
  grid-column-start: 5;
}
.colStartSix {
  grid-column-start: 6;
}
.colStartSeven {
  grid-column-start: 7;
}
