.mettingsSection {
  margin-top: 3rem;
}

.meetingOL {
  margin-top: 1rem;
  * {
    margin-top: 0.25rem;
  }
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.meetingLI {
  display: flex;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  margin-left: 1rem;
  align-items: center;
  border-radius: 0.75rem; /* 12px */

  .meetingInfo {
    flex: 1 1 auto;
  }

  &:hover {
    background-color: rgb(243 244 246);
    cursor: pointer;
  }
}

.meetingImage {
  flex: none;
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border-radius: 9999px;
  margin-right: 1rem;
}
