.eventResponse{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	background-color: #f0f0f0;
}

.responsesContainer{
	position: absolute;
	height: 100px;
	width: 100px;
}

.resizableObject{
	background-color: blue;
	text-align: center;
	display: flex;
  	justify-content: center;
  	align-items: center;
}