@use "styles/Variables.scss";

.container {
	grid-column: 2;
	border-left: solid 1px Variables.$gridColor;

	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	font-family: Inter;
	z-index: 10;
}

.sectionPadding {
	padding: 6px 8px;
}

.heading {
	@extend .sectionPadding;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.eventTitle {
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
}

.eventHostInformation {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: black;
}

.separator {
	background-color: #F1F5F9;
}

.separator[data-orientation='horizontal'] {
	height: 1px;
	width: 100%;
}

.separator[data-orientation='vertical'] {
	height: 100%;
	width: 1px;
}

.eventDescription {
	@extend .sectionPadding;
	display: flex;
	flex-direction: column;
	gap: 2px;

	min-height: 100px;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #4B4B4B;
}

.avatarRoot {
	margin-right: 10px;
	border-radius: 100%;
	$size: 40px;
	width: $size;
	height: $size;
	display: flex;
}


.userAvatar {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.avatarFallback {
	width: 100%;
	height: 100%;
}

.eventDate {
	@extend .sectionPadding;
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
}

.calendarIcon {
	$size: 30px;
	width: $size;
	height: $size;
	fill: #24384F;
}

.sectionHeading {
	font-weight: 500;
	font-size: 10px;
	line-height: 15px;
	color: #B8B8B8;
}

.agenda {
	@extend .sectionPadding;
	display: flex;
	flex-direction: column;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	gap: 2px;
}

.gridSeparator {
	background-color: black;
	width: 10px;
	height: 100%;
}

.agendaContent {
	display: inline-grid;
	padding: 6px 0px;
	gap: 10px 5px;
	font-size: 14px;
	font-weight: 500;
	line-height: 15px;
	grid-template-columns: auto 1px 1fr;
	color: #4B4B4B;
}

.invites {
	@extend .sectionPadding;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.tabContainer {
	width: 100%;
	display: flex;
	border-bottom: solid 2px #B8B8B8;
	font-size: 12px;
	font-weight: 500;
}

.tab {
	background: none;
	border: none;
	flex: 1 1 0%;
	outline: none;
	background-color: none;
	color: gray;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	padding: 5px 0px;
	font-size: 12px;
	font-family: Inter;

	&:not(:active):hover {
		color: black;
		cursor: pointer;
	}
}

.tab[data-state='active'] {
	color: black;
	box-shadow: 0 2px 0 0 black;

}

.count {
	padding: 2px 5px;
	border-radius: 5px;
	color: black;
	font-size: 10px;
	line-height: 15px;
}

.attendingCount {
	@extend .count;
	background-color: #63B562;
}

.inviteCount {
	@extend .count;
	background-color: #D9AC39;
}

.declinedCount {
	@extend .count;
	background-color: #DC7878;
}