.eventResponse{
	position: relative;
	margin-top: 10px;
	background: #06f;
	background-color: #06f;
	// color: #fff;
	height: 50px;
	width: 50px;
	text-align: center;
	border-radius: 5px;
}

.responsesContainer{
	position: absolute;
	height: 100px;
	width: 100px;
}