@use "styles/Variables.scss";

.container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: Variables.$cardHeight;
}

.timeContainer {
	display: flex;
	position: absolute;
	height: auto;
	top: 0;
	bottom: 0;
	margin-top: 5px;
	background: #cecece;
	border-radius: 5px;
	width: 100%;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.timeCue {
	padding: 10px;
	align-items: center;
	text-overflow: ellipsis;
	overflow: hidden;
}