@use "styles/Variables.scss";

.container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: Variables.$cardHeight;
}

.timeContainer {
	display: flex;
	position: absolute;
	height: auto;
	top: 0;
	bottom: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #e4e4e4;
	border-radius: 5px;
	width: 100%;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
	border: #E1E7EF 1px solid;
}

.timeCue {
	padding: 10px;
	align-items: center;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: Inter;
	font-weight: 600;
}