.container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #cecece;
	border-radius: 5px;
}

.content {
	height: 45px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.binIcon {
	height: 90%;
	width: 90%;
}

.timeContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}

.staticContainer {
	@extend .timeContainer;
	display: flex;
}

.timeCue {
	align-items: center;
	text-overflow: ellipsis;
	overflow: hidden;
}