@use "../Variables.scss";

.container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: Variables.$staticCardHeight;
}

.timeContainer {
	display: flex;
	position: absolute;
	height: auto;
	top: 0;
	bottom: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #e4e4e4;
	border-radius: 10px;
	width: 100%;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	box-shadow: Variables.$boxShadow ;
	border: #E1E7EF 1px solid;

	&.grabbable {
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}
}

.timeCue {
	padding: 10px;
	align-items: center;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 600;
}