.wrapper {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 15px 15px;
    gap: 10px;
  
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .formContainer {
    display: flex;
    gap: 10px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
  }
  
  .agenda {
    display: flex;
    flex-direction: column;
    // background-color: blue;
    width: 100%;
    gap: 10px;
    height: inherit;
    align-items: center;
  
  }
  
  .agendaList {
    padding: 10px 10px;
    border: 0.75px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .agendaItemContainer {
    display: grid;
    grid-template-columns: .75fr 1fr;
    width: 100%;
    align-items: center;
  }
  
  .agendaItemDateContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .agendaHeading {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .dates {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  
  .datePicker {
    height: 35px;
    width: 100%;
    border: 0.75px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
  
    * {
      text-align: center;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0);
    }
  }
  
  .title {
    font-size: 18px;
    height: 24px;
    outline: none;
    border: none;
  }
  
  .dateHeading {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .description {
    font-size: 18px;
    border: none;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    min-height: 160px;
    vertical-align: top;
    padding: 5px 10px;
  
    border-radius: 5px;
    border: 0.75px solid rgba(0, 0, 0, 0.30);
  }
  
  .userInvites {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
  .userContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 200px;
    gap: 10px;
  
    border-radius: 5px;
    border: 0.75px solid rgba(0, 0, 0, 0.30);
  }
  
  .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .button {
    width: auto;
    font-size: 18px;
  }
  
  .userInviteButton {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .inviteButton {
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 2px 5px;
    font-weight: 700;
    border-radius: 5px;
    border: 0.75px solid rgba(0, 0, 0, 0.30);
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .addButton {
    @extend .inviteButton;
    background-color: greenyellow;
  }
  
  .removeButton {
    @extend .inviteButton;
    background-color: red;
  }