@use "styles/Variables.scss";

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

.tools {
  grid-row: 1;
  display: flex;
}

.weekGrid {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1/7fr;
  padding-right: 25%;

  font-family: Inter;
  font-weight: 400;
}

.weekTile {
  border: Variables.$gridColor 1px solid;
}

.dayHeading {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button {
  display: flex;
  font-family: Inter;
  font-weight: 600;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.next {
  @extend .button;
  background-color: blue;
}

.previous {
  @extend .button;
  background-color: red;
}

.eventCard {
  grid-column: 2;
}