@use "styles/Variables.scss";
@import "fonts.scss";

.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  font-family: Nunito;
}

.tools {
  grid-row: 1;
  display: flex;
}

.weekGrid {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(7, 300px);
}

.pagenation {
  display: flex;
  font-weight: 600;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 5px;
  margin: 10px;

  &:hover {
    background-color: darkgray;
  }
}

.weekHeader {
  grid-row: 1;
  display: flex;
  margin: auto;
  font-size: 32px;
}

.weekTile {
  border: Variables.$gridColor 1px solid;

  &.today {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.dayHeading {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.next {
  background-color: blue;
}

.previous {
  background-color: red;
}

.eventCard {
  grid-column: 2;
}