@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: nunito;
  font-size: 18px;
}

title {
  font-size: 32px;
}

small {
  font-size: 14px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  height: 100vh;
}