.wrapper {
	display: flex;
	flex: 1 1 0;
	width: 100%;
}

.content {
	min-width: 100%;
}

.userInfo {
	width: 240px;
	border: #efefef 1px solid;
}

.eventInfo {
	flex: 1 1 0%;
	background: blue;
}

.timelineContainer {
	display: flex;
	flex: 3 1 0;
	overflow: hidden;
	flex-direction: column;
}

.timelineTools {
	height: 50px;
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
}

.scrollable {
	flex-direction: column;
	display: block;
	flex: 1 1 0;
	scroll-behavior: smooth;
	scrollbar-width: none;
	overflow-x: scroll;
}

.timelineBody {
	position: relative;
	flex: 1 1 0;
}

.magnify {
	display: flex;
}

.button {
	background: gray;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background: rgb(68, 68, 68);
	}
}

.buttonLeft {
	@extend .button;
	border-radius: 5px 0px 0px 5px;
}

.buttonRight {
	@extend .button;
	border-radius: 0px 5px 5px 0px;
}

.icon {
	width: 30px;
	height: 30px;
}

.saveButton {
	width: 50px;
	height: 30px;
	background: rgb(206, 206, 206);
	border: none;
	border-radius: 5px;

	&:hover {
		background: rgb(134, 134, 134)
	}
}