.wrapper {
	display: flex;
	flex: 1 1 0;
	width: 100%;
}

.content {
	min-width: 100%;
}

.userInfo {
	width: 240px;
	border: #efefef 1px solid;
}

.localUserResponses {
	position: relative;
	display: flex;
	height: 50px;
}

.userResponses {
	position: relative;
}

.eventInfo {
	flex: 1 1 0%;
	background: blue;
}

.timelineContainer {
	display: flex;
	flex: 3 1 0;
	overflow: hidden;
	flex-direction: column;
}

.timelineTools {
	height: 50px;
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
}

.scrollable {
	flex-direction: column;
	flex: 1 1 0;
	scroll-behavior: smooth;
	scrollbar-width: none;
	overflow-x: scroll;
}

.magnify {
	display: flex;
}

.button {
	background: gray;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background: rgb(68, 68, 68);
	}
}

.buttonLeft {
	@extend .button;
	border-radius: 5px 0px 0px 5px;
}

.buttonRight {
	@extend .button;
	border-radius: 0px 5px 5px 0px;
}

.icon {
	width: 30px;
	height: 30px;
}

.buttonCore {
	width: 50px;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-right: 5px;

	&:hover {
		background: rgb(134, 134, 134);
		cursor: pointer;
	}
}

.saveButton {
	@extend .buttonCore;
	background: rgb(39, 81, 158);
}

.addButton {
	@extend .buttonCore;
	background: rgb(206, 206, 206);
}

.deleteButton {
	@extend .buttonCore;
	background: rgb(161, 49, 49);

	&:hover {
		background: rgb(77, 23, 23);
		cursor: pointer;
	}
}

.contextMenu {
	position: fixed;
	background: white;
	border: #505050;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	width: 100px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contextMenuItem {
	width: 100%;
	height: 20px;
	text-align: center;

	&:first-child {
		margin-top: 10px;
	}

	&:hover {
		cursor: pointer;
		background: #505050;
	}
}