.wrapper{
	padding-top:64px;
	background-color: #0f0f0f;
	height: 100vh;
}

.container{
	width:100%;
	display: flex;
	justify-content:center;
}

.eventListContainer{
	background-color: #272727;
	padding-top:20px;
	width: 50%;
	height: 500px;
	margin: 10px;
	border-radius: 16px;
}


