.wrapper {
  width: 100vw;
  background-color: rgb(32 41 55);
  overflow: hidden;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding-left: 8px;
  padding-right: 8px;
  @media (min-width: 640px) {
    padding-left: 24px;
    padding-right: 25px;
  }
  @media (min-width: 1024px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.logo {
  height: 32px;
  width: auto;
}

.justify {
  position: relative;
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
}

.navbarContainer {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;

  @media (min-width: 640px) {
    align-items: stretch;
    justify-content: flex-start;
  }
}

.itemsContainer {
  display: flex;
  * {
    margin-left: 16px;
  }
}

.activeLink {
  background-color: rgb(17 24 39);
  color: white;
}

.marginRight {
  margin-right: 20px;
}

.inactiveLink {
  color: rgb(209 213 219);

  transition: 0.3s;

  &:hover {
    background-color: rgb(55 65 81);
    color: white;
  }
}

.navbarItem {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.profileContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  padding-right: 16px;

  @media (min-width: 640px) {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-left: 24px;
    padding-right: 0px;
  }
}

.profileUsernameText {
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.profileButton {
  display: flex;
  border: none;
  border-radius: 9999px;
  background-color: rgb(31 41 55);
  font-size: 14px;
  line-height: 20px;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px #1f2937, 0 0 0 4px rgb(255 255 255);
  }
}

.createEventButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55 65 81);
  color: white;
  transition: 0.3s;
  .icon {
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: rgb(46, 85, 148);
  }
}
