.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backgroundImage {
  height: 100vh;
  overflow: hidden;
}

.glass {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 16rem;
  padding: 20px;

  text-align: center;
}

.signInText {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}

.discord {
  background-color: #5865f2;
  color: rgba(0, 0, 0, 0);
  background-image: url('/providerLogos/discord.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.providerButton {
  border: none;
  border-radius: 8px;
  height: 3rem;
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  font-weight: 500;

  box-shadow: 0px 1px 5px black;

  &:hover {
    cursor: pointer;
  }
}
